html {
  font-family: 'Geometria', sans-serif;
  color: @font-color-global;
}

.uk-background-primary {
  background-color: @bg-primary;
}

.uk-button {
  font-family: 'Geometria', sans-serif;
  text-transform: none;
  border-radius: 3px;
  font-size: 12px;
}

.uk-button-secondary {
  background: @bg-button-secondary;
  box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.1);

  &:hover, &:active {
    background: @bg-button-secondary-active;
  }
}

.tm-index-logo {
  margin-bottom: 140px;
  text-align: center;
}

.tm-index-button {
  height: 50px;
  line-height: 50px;
  width: 190px;
}

.tm-button-menu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}

.tm-button-back {
  color: @font-color-global;
  border-radius: 0;
}