//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

//
// Colors
//

@font-color-global: #333333;

//
// Backgrounds
//

@bg-primary: #005387;

@bg-button-secondary: linear-gradient(to top, #ffc939, #ffd46c);
@bg-button-secondary-active: linear-gradient(to top, darken(#ffc939, 10%), darken(#ffd46c, 10%));

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//